.copyright{
    font-family: Arial, Helvetica, sans- serif;
    font-size: 15px;
    margin-Left: 100px;
    margin-top: -10px;
}
.footer{
    display: flex;
    position: relative;
    top: 600px;
    height: 53px;
}           